$headfont: 'Gelasio', serif;
$primaryfont:'Montserrat', sans-serif;

body{
  font-family: $primaryfont;
  background-color: #e0dfda;
}

.head{
  background-image: url('homepic4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 550px;

  header{
    li a{
      color: grey;
      font-family: $primaryfont;
      font-size: 1.11rem;
      &:hover{
        color: black;
        font-size: 1.12rem;
      }
    }
    .book{
      background-color: gray;
      color: white
    }
  }

  .section1{
    text-align: center;
    margin-top: 13%;
    color: white;
    h1{
      font-family: $headfont;
      font-size: 5rem;
    }
    h2{
      font-family: $primaryfont;
    }
  }
}

.container{
  background-color: white;
  text-align: center;
  .date{
    padding: 1.5rem 0 1.5rem 0;
  }
  .cont{
    padding-bottom: 1rem;
  }
  .col-sm-12{
    img{
      width: 100%;
      height: 200px;
    }
  }
  .con2{
    padding-top: 3rem;
  }
  
}
.pad{
    padding: 0;
  }
.gridcolor{
  background-color: #5d989c;
  color: white;
}
.line{
    margin: auto;
    width: 50px;
    border-bottom: 2px solid orange;
  }

.section2{
  margin-top: 3rem;
  .con2{
    padding-bottom: 1.7rem;
  }
  .tes{
    img{
      height: 400px;
    }
  }
  h3{
    padding-top: 2rem;
  }
  .gridcolor{
    p{
    padding: 4rem 1rem 0 1rem;
    }
  }
}
.foot{
  padding-top: 3rem;
  background-color: #e0dfda;
  ul{
    li{
      list-style: none;
      padding: 0.5rem 0 0.5rem 0;
    }
  }
  .hd{
    font-size: 1.2rem;
  }
}
